body {
  background-color: cyan;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  margin-right: 50px;
  margin-left: 20px;
}

#centrado {
  text-align: center;
  margin-left: 175px;
}

#img1 {
  float: left;
  height: 250px;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

#img2 {
  float: right;
  height: 380px;
  width: 275px;
  margin-top: 0px;
}

#contenedor {
  background-color: white;
  height: 1000px;
  width: 1500px;
  margin: 0 auto;
}
