  @keyframes anim{
    0% {background-color: #ff0;}
   20% {background-color: #f80;}
   45% {background-color: black;}
   52% {background-color: black;}
   70% {background-color: #f80;}
  100% {background-color: #ff0;}
}

@keyframes rotación{
  0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

@keyframes sol{
  0% {top: 0px;}
100% {top: 800px;}
}

@keyframes sol2{
  0% {top: 750px;}
100% {top: 0px;}
}

@keyframes luna{
  0% {top: 750px;}
50% {top: 0px;}
100% {top:750px}
}

@keyframes nubes{
  0% {margin-left: 80px;}
50% {margin-left: 750px}
100% {margin-left: 80px}
}

@keyframes nubes2{
  0% {margin-left: 80px;}
50% {margin-left: 750px}
100% {margin-left: 80px}
}

body {
  animation: anim 30s infinite linear;
}

.flor0 {
  width: 75px;
  height: 25px;
  background-color: #3A82FF;
  position: absolute;
  left: 75px;
  top: 450px;
  border-radius: 50px 50px 50px 50px;
  animation: rotación 5s infinite linear;
}

.flor0:after {
  width: 25px;
  height: 25px;
  background-color: yellow;
  position: absolute;
  left: 25px;
  bottom: 0px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.flor0:before {
  width: 25px;
  height: 75px;
  background-color: #3A82FF;
  position: absolute;
  left: 25px;
  bottom: -25px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.flor1 {
  width: 75px;
  height: 25px;
  background-color: white;
  position: absolute;
  left: 200px;
  top: 450px;
  border-radius: 50px 50px 50px 50px;
  animation: rotación 5s infinite linear;
}

.flor1:after {
  width: 25px;
  height: 25px;
  background-color: yellow;
  position: absolute;
  left: 25px;
  bottom: 0px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.flor1:before {
  width: 25px;
  height: 75px;
  background-color: white;
  position: absolute;
  left: 25px;
  bottom: -25px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.flor2 {
  width: 75px;
  height: 25px;
  background-color: pink;
  position: absolute;
  left: 700px;
  top: 450px;
  border-radius: 50px 50px 50px 50px;
  animation: rotación 5s infinite linear;
}

.flor2:after {
  width: 25px;
  height: 25px;
  background-color: yellow;
  position: absolute;
  left: 25px;
  bottom: 0px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.flor2:before {
  width: 25px;
  height: 75px;
  background-color: pink;
  position: absolute;
  left: 25px;
  bottom: -25px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.flor3 {
  width: 75px;
  height: 25px;
  background-color: orange;
  position: absolute;
  left: 850px;
  top: 450px;
  border-radius: 50px 50px 50px 50px;
  animation: rotación 5s infinite linear;
}

.flor3:after {
  width: 25px;
  height: 25px;
  background-color: yellow;
  position: absolute;
  left: 25px;
  bottom: 0px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.flor3:before {
  width: 25px;
  height: 75px;
  background-color: orange;
  position: absolute;
  left: 25px;
  bottom: -25px;
  border-radius: 50px 50px 50px 50px;
  content: '';
}

.nube2 {
  width: 75px;
  height: 25px;
  background-color: white;
  position: absolute;
  left: 350px;
  top: 80px;
  border-radius: 50px 50px 50px 50px;
  animation: nubes2 30s infinite linear;
}

.nube2:after {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  left: 30px;
  bottom: 13px;
  border-radius: 100px 100px 100px 100px;
  content: '';
}

.nube2:before {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  left: 17px;
  bottom: 15px;
  border-radius: 100px 100px 100px 100px;
  content: '';
}

.nube1 {
  width: 174px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 100px;
  top: 80px;
  border-radius: 50px 50px 50px 50px;
  animation: nubes 30s infinite linear;
}

.nube1:after {
  width: 75px;
  height: 75px;
  background-color: white;
  position: absolute;
  left: 65px;
  bottom: 20px;
  border-radius: 100px 100px 100px 100px;
  content: '';
}

.nube1:before {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  left: 30px;
  bottom: 30px;
  border-radius: 100px 100px 100px 100px;
  content: '';
}

.fachada {
  width: 200px;
  height: 200px;
  background-color: #A65600;
  position: absolute;
  left: 400px;
  top: 300px;
}

.tejado {
  width: 250px;
  height: 70px;
  background-color: #632C00;
  position: absolute;
  left: 375px;
  top: 230px;
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}

.ventana1 {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 425px;
  top: 330px;
}

.ventana2 {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 525px;
  top: 330px;
}

.puerta {
  width: 50px;
  height: 70px;
  background-color: #723200;
  position: absolute;
  left: 475px;
  top: 430px;
}

.chimenea {
  width: 30px;
  height: 60px;
  background-color: #722100;
  position: absolute;
  left: 550;
  top: 220px;
}

.humo {
  width: 40px;
  height: 40px;
  background-color: grey;
  position: absolute;
  left: 545px;
  top: 190px;
  border-radius: 100%;
}

.humo:after {
  width: 60px;
  height: 60px;
  background-color: grey;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 100%;
  content:"";
}

.humo:before {
  width: 80px;
  height: 80px;
  background-color: grey;
  position: absolute;
  left: 30px;
  bottom: 30px;
  border-radius: 100%;
  content:"";
}

.sol {
  width: 250px;
  height: 250px;
  background: linear-gradient(to top, #FF5500, #FFBD00);
  position: absolute;
  left: 800px;
  top: 150px;
  border-radius: 100%;
  animation: sol 30s infinite linear;
}

.sol2 {
  width: 250px;
  height: 250px;
  background: linear-gradient(to top, #FF5500, #FFBD00);
  position: absolute;
  left: 800px;
  top: 150px;
  border-radius: 100%;
  animation: sol2 30s infinite linear;
}

.sol3 {
  width: 250px;
  height: 250px;
  background: white;
  position: absolute;
  left: 200px;
  top: 0px;
  border-radius: 100%;
  animation: luna 30s infinite linear;
}

.montanas {
  width: 500px;
  height: 500px;
  background-color: #005803;
  position: absolute;
  left: 0px;
  top: 200px;
  border-radius: 25% 75% 100% 0% / 45% 100% 0% 55%;
}

.montanas2 {
  width: 500px;
  height: 700px;
  background-color: #1D9E21;
  position: absolute;
  left: 370px;
  top: 150px;
  border-radius: 65% 35% 100% 0% / 45% 100% 0% 55%;
}

.montanas3 {
  width: 500px;
  height: 700px;
  background-color: #047107;
  position: absolute;
  left: 700px;
  top: 200px;
  border-radius: 84% 16% 100% 0% / 100% 100% 0% 0%;
}

.base {
  width: 150%;
  height: 500px;
  background-color: green;
  position: absolute;
  left: 0;
  top: 500px;
}
